.login-loader{
	display: none;
}
.alert.error{
	padding: 0px !important;
}
#content .content-body{
	border: 1px solid lightgray !important;
}
.form-loader{
	display: none;
}
.cat-error{
	font-size: 14px !important; 
}.
/*.card-heading .success-msg{
	display: none;
}*/
#content_wrapper #header_wrapper {
	min-height: 100px !important;
	height: 100px !important;
}
.product-loader{
    position: absolute;
    top: 50%;
    left: 45%;
   
}